{
  "CampaignName": "ExchangeArchive",
  "TemplateBaseName": "SmartM365-ExchangeArchive-NotifyUsers-Template",
  "RecipientsPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive\\Recipients",
  "RunOutputPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive",
  "LogOutputPath": "{{LogAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive",
  "SentRegistryPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive\\Data\\SentRegistry.csv",
  "DefaultLanguageTag": "__USE_GLOBAL__",
  "DefaultEffectiveDate": "",
  "MailboxMaxGb": 100,
  "MailboxMinGbToNotify": 70,
  "SkipWhenEffectiveDateIsPast": true,
  "DefaultSubject": "Your online archive will be enabled",
  "DefaultMailboxUsageText": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
  "UnknownUsageLabel": "unknown",
  "SummaryTitle": "Exchange archive notification summary",
  "SummarySubject": "SmartM365 Exchange archive notification summary",
  "TeamsSuccessTitle": "SmartM365 Exchange archive notification completed",
  "TeamsFailureTitle": "SmartM365 Exchange archive notification failed",
  "LogoPath": "{{SmartM365RootPath}}\\SmartM365-logo.ico",
  "LogoContentId": "smartm365logo",
  "LogoMediaType": "image/x-icon",
  "RequireExchange2016SnapIn": true,
  "EnableExchange2016SnapIn": true,
  "ExchangeSnapInName": "Microsoft.Exchange.Management.PowerShell.SnapIn",
  "ExchangeSnapInViewEntireForest": true,
  "ExchangeSnapInAvailableMessage": "Exchange 2016 snap-in detected and available.",
  "ExchangeSnapInUnavailableMessage": "Exchange 2016 snap-in NOT available. Aborting notification campaign.",
  "ExchangeSnapInForestViewMessage": "Exchange ADServerSettings: ViewEntireForest = True",
  "ExchangeSnapInForestViewWarningFormat": "WARNING: Failed to set ViewEntireForest=True: {0}",
  "EnableExchangeMailboxStateCheck": true,
  "EnableExchangeMailboxUsageCheck": true,
  "SkipMailboxNotFoundWhenExchangeCheckAvailable": true,
  "SkipRemoteMailboxWhenExchangeCheckAvailable": true,
  "SkipMailboxUsageUnavailableWhenExchangeCheckAvailable": true,
  "EnableAdLookupForLanguageAndName": true,
  "ForestGcServer": "",
  "SubjectByLanguage": {
    "default": "Your online archive will be enabled",
    "en": "Your online archive will be enabled",
    "fr": "Activation de votre boite d'archive"
  },
  "MailboxUsageTextByLanguage": {
    "default": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
    "en": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
    "fr": "Votre boite principale utilise {{MailboxUsagePercent}}% de {{MailboxMaxGb}} GB."
  }
}
