{
  "CampaignName": "ExchangeArchive",
  "TemplateBaseName": "SmartM365-ExchangeArchive-NotifyUsers-Template",
  "TemplateRootPath": "{{CampaignRootPath}}\\Templates",
  "RecipientsPath": "{{CampaignRootPath}}\\Recipients",
  "RunOutputPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive",
  "LogOutputPath": "{{LogAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive",
  "SentRegistryPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeArchive\\Data\\SentRegistry.csv",
  "DefaultLanguageTag": "__USE_GLOBAL__",
  "DefaultEffectiveDate": "",
  "MailboxMaxGb": 100,
  "MailboxMinGbToNotify": 70,
  "SkipWhenEffectiveDateIsPast": true,
  "DefaultSubject": "Your online archive will be enabled",
  "DefaultMailboxUsageText": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
  "UnknownUsageLabel": "unknown",
  "SummaryTitle": "Exchange archive notification summary",
  "SummarySubject": "SmartM365 Exchange archive notification summary",
  "TeamsSuccessTitle": "SmartM365 Exchange archive notification completed",
  "TeamsFailureTitle": "SmartM365 Exchange archive notification failed",
  "TeamsUserMessageByLanguage": {
    "default": "Hello {{UserName}}, an important message about your online archive has been sent to your email. Please read it before {{Date}}.",
    "en": "Hello {{UserName}}, an important message about your online archive has been sent to your email. Please read it before {{Date}}.",
    "fr": "Bonjour {{UserName}}, un message important concernant votre archive en ligne vous a ete envoye par email. Merci de le lire avant le {{Date}}."
  },
  "LogoPath": "{{SmartM365RootPath}}\\WorkplaceCloudHub.ico",
  "LogoContentId": "smartm365logo",
  "LogoMediaType": "image/x-icon",
  "ExchangeManagementMode": "Auto",
  "RequireExchangeManagement": true,
  "EnableExchange2016Fallback": true,
  "Exchange2016ViewEntireForest": true,
  "EnableExchangeMailboxStateCheck": true,
  "EnableExchangeMailboxUsageCheck": true,
  "SkipMailboxNotFoundWhenExchangeCheckAvailable": true,
  "SkipRemoteMailboxWhenExchangeCheckAvailable": true,
  "SkipMailboxUsageUnavailableWhenExchangeCheckAvailable": true,
  "EnableAdLookupForLanguageAndName": true,
  "ForestGcServer": "",
  "SubjectByLanguage": {
    "default": "Your online archive will be enabled",
    "en": "Your online archive will be enabled",
    "fr": "Activation de votre boite d'archive"
  },
  "MailboxUsageTextByLanguage": {
    "default": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
    "en": "Your primary mailbox is using {{MailboxUsagePercent}}% of {{MailboxMaxGb}} GB.",
    "fr": "Votre boite principale utilise {{MailboxUsagePercent}}% de {{MailboxMaxGb}} GB."
  }
}
