{
  "CampaignName": "ExchangeMigration",
  "TemplateBaseName": "SmartM365-ExchangeMigration-NotifyUsers-Template",
  "TemplateRootPath": "{{CampaignRootPath}}\\Templates",
  "RecipientsPath": "{{CampaignRootPath}}\\Recipients",
  "RunOutputPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeMigration",
  "LogOutputPath": "{{LogAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeMigration",
  "SentRegistryPath": "{{DataAllRootPath}}\\Communications\\ExchangeUserNotifications\\ExchangeMigration\\Data\\SentRegistry.csv",
  "DefaultLanguageTag": "__USE_GLOBAL__",
  "OldWebmailUrl": "https://old-webmail.example.com",
  "NewWebmailUrl": "https://outlook.office365.com",
  "EnableTermsPortalBlock": false,
  "TermsPortalUrl": "https://orpea.sharepoint.com/sites/Emeis",
  "DefaultEffectiveDate": "",
  "SkipWhenEffectiveDateIsPast": true,
  "DefaultSubject": "New email system - Important information",
  "SummaryTitle": "Exchange migration notification summary",
  "SummarySubject": "SmartM365 Exchange migration notification summary",
  "TeamsSuccessTitle": "SmartM365 Exchange migration notification completed",
  "TeamsFailureTitle": "SmartM365 Exchange migration notification failed",
  "LogoPath": "{{SmartM365RootPath}}\\WorkplaceCloudHub.ico",
  "LogoContentId": "smartm365logo",
  "LogoMediaType": "image/x-icon",
  "ExchangeManagementMode": "Auto",
  "RequireExchangeManagement": true,
  "EnableExchange2016Fallback": true,
  "Exchange2016ViewEntireForest": true,
  "EnableExchangeMailboxStateCheck": true,
  "SkipMailboxNotFoundWhenExchangeCheckAvailable": true,
  "SkipRemoteMailboxWhenExchangeCheckAvailable": true,
  "EnableAdLookupForLanguageAndName": true,
  "ForestGcServer": "",
  "SubjectByLanguage": {
    "default": "New email system - Important information",
    "en": "New email system - Important information",
    "fr": "Nouvelle messagerie - Informations importantes"
  }
}
