{
  "WorkspaceRootPath": "__USE_GLOBAL__",
  "DataAllRootPath": "__USE_GLOBAL__",
  "LatestCsvFolderPath": "__USE_GLOBAL__",
  "LogAllRootPath": "__USE_GLOBAL__",
  "RetentionMaxCSV": "__USE_GLOBAL__",
  "RetentionMaxLogs": "__USE_GLOBAL__",
  "ErrorMailTo": "__USE_GLOBAL__",
  "To": "__USE_GLOBAL__",
  "From": "__USE_GLOBAL__",
  "Cc": "__USE_GLOBAL__",
  "SmtpServer": "__USE_GLOBAL__",
  "SmtpPort": "__USE_GLOBAL__",
  "SendMailMode": "Graph",
  "EnableTeamsNotifications": "__USE_GLOBAL__",
  "EnableSharePointUpload": true,
  "SharePointSiteHostname": "__USE_GLOBAL__",
  "SharePointSitePath": "__USE_GLOBAL__",
  "SharePointLibraryDisplayName": "__USE_GLOBAL__",
  "SharePointTargetFolderPath": "__USE_GLOBAL__",
  "AppId": "__USE_GLOBAL__",
  "TenantId": "__USE_GLOBAL__",
  "Thumbprint": "__USE_GLOBAL__",
  "IncludedWebApplicationUrls": [],
  "ExcludedWebApplicationUrls": [],
  "MySiteHostNames": [],
  "ExcludePersonalSiteCollections": true,
  "OutputRoot": "{{DataAllRootPath}}\\SharePoint\\OnPrem\\Content",
  "EnableWeeklyHistory": true,
  "WeeklyHistoryFolderPath": "{{DataAllRootPath}}\\SharePoint\\OnPrem\\Content\\WeeklyHistory",
  "WeeklyHistoryRetentionWeeks": 52
}
