{
  "WorkspaceRootPath": "__USE_GLOBAL__",
  "DataAllRootPath": "__USE_GLOBAL__",
  "LatestCsvFolderPath": "__USE_GLOBAL__",
  "LogAllRootPath": "__USE_GLOBAL__",
  "ErrorMailTo": "__USE_GLOBAL__",
  "To": "__USE_GLOBAL__",
  "Cc": "__USE_GLOBAL__",
  "Bcc": "",
  "From": "__USE_GLOBAL__",
  "SmtpServer": "__USE_GLOBAL__",
  "SendMailMode": "__USE_GLOBAL__",
  "JobMailMode": "OnError",
  "SmtpPort": 25,
  "UseIntegratedAuth": true,
  "UseSsl": false,
  "RelayIp": "",
  "SendDailySummaryEmail": false,
  "DailySummaryTime": "07:00",
  "AllowedServers": [],
  "MaxConcurrency": 2,
  "MaxLifetimeHours": 24,
  "TickSeconds": 60,
  "OrchestratorDataFolderPath": "{{DataAllRootPath}}\\Orchestrator",
  "OrchestratorLogFolderPath": "{{LogAllRootPath}}\\SmartM365-Inventory-Orchestrator",
  "OrchestratorLogRetentionDays": 30,
  "JobLogRetentionDays": 30,
  "JobRunsCsvRetentionDays": 90
}
