{
  "LatestCsvFolderPath": "__USE_GLOBAL__",
  "PythonCommand": "python",
  "SharePointSiteHostname": "__USE_GLOBAL__",
  "SharePointSitePath": "__USE_GLOBAL__",
  "SharePointLibraryDisplayName": "__USE_GLOBAL__",
  "SharePointTargetFolderPath": "__USE_GLOBAL__",
  "AppId": "__USE_GLOBAL__",
  "Thumb": "__USE_GLOBAL__"
}
