{
  "ConfigVersion": "0.3.0",
  "ProfileKey": "default",
  "OrganizationKey": "organization",
  "EnvironmentKey": "default",
  "TenantKey": "organization-default",
  "Output": {
    "DataRootPath": "{{ProjectRootPath}}\\Data\\Tenants\\{{ProfileKey}}",
    "DataAllRootPath": "{{DataRootPath}}\\DATA-ALL",
    "LatestOutputRootPath": "{{DataRootPath}}\\DATA-LAST",
    "LogRootPath": "{{DataRootPath}}\\LOG-ALL"
  },
  "Collection": {
    "AuthenticationMode": "AppOnly",
    "Cloud": "Public",
    "IncludeEntra": true,
    "IncludeIntune": true,
    "IncludeLicensing": true,
    "IncludeExchangeOnline": true,
    "IncludeActiveDirectory": true
  },
  "PowerBI": {
    "Enabled": true,
    "OutputFolderName": "PowerBI",
    "FirstExperience": "ExecutiveOverview"
  },
  "DataQuality": {
    "FreshnessWarningHours": 48,
    "FreshnessCriticalHours": 168,
    "DefaultConfidenceScore": 0.5
  },
  "SharePoint": {
    "Enabled": false,
    "SiteHostname": "",
    "SitePath": "",
    "LibraryDisplayName": "Documents",
    "TargetFolderPath": "SMART-CMDB/DATA"
  }
}
