{
  "ProfileKey": "default",
  "OrganizationKey": "organization",
  "EnvironmentKey": "default",
  "TenantKey": "organization-default",
  "DisplayName": "Example tenant",
  "MicrosoftGraph": {
    "TenantId": "",
    "ClientId": "",
    "CertificateThumbprint": "",
    "Scopes": [
      "https://graph.microsoft.com/.default"
    ]
  },
  "ExchangeOnline": {
    "Enabled": true,
    "Organization": ""
  },
  "Output": {
    "DataRootPath": "",
    "DataAllRootPath": "",
    "LatestOutputRootPath": "",
    "LogRootPath": ""
  }
}
