{
  "ConfigVersion": "0.3.0",
  "ProfileKey": "default",
  "OrganizationKey": "organization",
  "EnvironmentKey": "default",
  "TenantKey": "organization-default",
  "DisplayName": "Example tenant",
  "MicrosoftGraph": {
    "TenantId": "",
    "ClientId": "",
    "CertificateThumbprint": "",
    "Scopes": [
      "https://graph.microsoft.com/.default"
    ]
  },
  "ExchangeOnline": {
    "Enabled": true,
    "Organization": ""
  },
  "ActiveDirectory": {
    "Enabled": false,
    "ForestWide": true,
    "Server": "",
    "SearchBase": "",
    "IncludeGroupMemberships": true
  },
  "Output": {
    "DataRootPath": "",
    "DataAllRootPath": "",
    "LatestOutputRootPath": "",
    "LogRootPath": ""
  },
  "SharePoint": {
    "Enabled": false,
    "SiteHostname": "",
    "SitePath": "",
    "LibraryDisplayName": "Documents",
    "TargetFolderPath": "SMART-CMDB/DATA"
  }
}
