{
  "WorkspaceRootPath": "__USE_GLOBAL__",
  "DataAllRootPath": "__USE_GLOBAL__",
  "LatestCsvFolderPath": "__USE_GLOBAL__",
  "LogAllRootPath": "__USE_GLOBAL__",
  "AppId": "__USE_GLOBAL__",
  "TenantId": "__USE_GLOBAL__",
  "OrgDomain": "__USE_GLOBAL__",
  "Thumb": "__USE_GLOBAL__",
  "Thumbprint": "__USE_GLOBAL__",
  "RetentionMaxCSV": "__USE_GLOBAL__",
  "RetentionMaxLogs": "__USE_GLOBAL__",
  "ErrorMailTo": "__USE_GLOBAL__",
  "To": "",
  "EnableTeamsNotifications": "__USE_GLOBAL__",
  "SmtpServer": "__USE_GLOBAL__",
  "From": "__USE_GLOBAL__",
  "Cc": "__USE_GLOBAL__",
  "EnableSharePointUpload": "__USE_GLOBAL__",
  "SharePointSiteHostname": "__USE_GLOBAL__",
  "SharePointSitePath": "__USE_GLOBAL__",
  "SharePointLibraryDisplayName": "__USE_GLOBAL__",
  "SharePointTargetFolderPath": "__USE_GLOBAL__",
  "DomainFriendlyNames": {},
  "ActiveDirectoryInventoryCsvLogFolderPath": "{{DataAllRootPath}}\\ActiveDirectory\\Inventory",
  "Windows11UpgradeGroupPattern": "*GG_SMARTM365_INTUNE_UPGRADEW11*",
  "IntuneEnrollmentGroupPattern": "*GG_SMARTM365_INTUNE*",
  "EnableOuInventory": true,
  "EnableComputerInventory": true,
  "EnableUserInventory": true,
  "EnableGroupInventory": true,
  "EnableContactInventory": true,
  "EnableDuplicateAnalysis": true,
  "DomainParallelThrottleLimit": 1,
  "DeleteTemporaryPerDomainCsv": true,
  "EnableWeeklyHistory": true,
  "WeeklyHistoryFolderPath": "{{DataAllRootPath}}\\ActiveDirectory\\Inventory\\WeeklyHistory",
  "WeeklyHistoryRetentionWeeks": 52,
  "EnableDailyReport": true,
  "DailyReportAllowedOS": [
    "Windows 7*",
    "Windows 8*",
    "Windows 10*",
    "Windows 11*"
  ],
  "DailyReportInactiveDays": 90,
  "EnableDailyReportLock": true,
  "DailyReportLockRoot": "C:\\ProgramData\\SmartM365\\Locks",
  "DailyReportLockName": "SmartM365-ActiveDirectory-Inventory-DailyReport"
}
