{
  "TenantKey": "test",
  "WorkspaceRootPath": "{{SmartAzureVirtualDesktopRootPath}}",
  "DataAllRootPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\DATA-ALL",
  "LatestCsvFolderPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\DATA-LAST",
  "LogAllRootPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\LOG-ALL",
  "AzureTenantId": "",
  "TenantId": "",
  "OrgDomain": "",
  "RetentionMaxCSV": 30
}
