{
  "WorkspaceRootPath": "__USE_GLOBAL__",
  "DataAllRootPath": "__USE_GLOBAL__",
  "LatestCsvFolderPath": "__USE_GLOBAL__",
  "LogAllRootPath": "__USE_GLOBAL__",
  "AppId": "__USE_GLOBAL__",
  "TenantId": "__USE_GLOBAL__",
  "OrgDomain": "__USE_GLOBAL__",
  "Thumb": "__USE_GLOBAL__",
  "Thumbprint": "__USE_GLOBAL__",
  "RetentionMaxCSV": "__USE_GLOBAL__",
  "RetentionMaxLogs": "__USE_GLOBAL__",
  "ErrorMailTo": "__USE_GLOBAL__",
  "To": "__USE_GLOBAL__",
  "EnableTeamsNotifications": "__USE_GLOBAL__",
  "SmtpServer": "__USE_GLOBAL__",
  "SendMailMode": "__USE_GLOBAL__",
  "From": "__USE_GLOBAL__",
  "Cc": "__USE_GLOBAL__",
  "EnableSharePointUpload": "__USE_GLOBAL__",
  "SharePointSiteHostname": "__USE_GLOBAL__",
  "SharePointSitePath": "__USE_GLOBAL__",
  "SharePointLibraryDisplayName": "__USE_GLOBAL__",
  "SharePointTargetFolderPath": "__USE_GLOBAL__",
  "ScriptCsvLogFolderPath": "{{DataAllRootPath}}\\Intune\\WindowsUpdate\\Status",
  "ReadinessCsvPath": "{{LatestCsvFolderPath}}\\Intune_Devices_UpgradeEligibility.csv",
  "ReadinessSummaryCsvPath": "{{LatestCsvFolderPath}}\\Intune_Devices_UpgradeEligibility_Summary.csv",
  "EnableWeeklyHistory": true,
  "WeeklyHistoryFolderPath": "{{DataAllRootPath}}\\Intune\\WindowsUpdate\\Status\\WeeklyHistory",
  "WeeklyHistoryRetentionWeeks": 52
}
