{
  "DefaultTenant": "test",
  "Environment": "Test",
  "SmartAzureRootPath": ".",
  "WorkspaceRootPath": "{{SmartAzureRootPath}}",
  "DataAllRootPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\DATA-ALL",
  "LatestCsvFolderPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\DATA-LAST",
  "LogAllRootPath": "{{WorkspaceRootPath}}\\Data\\Tenants\\{{TenantKey}}\\LOG-ALL",
  "AppId": "00000000-0000-0000-0000-000000000000",
  "TenantId": "00000000-0000-0000-0000-000000000000",
  "AzureTenantId": "00000000-0000-0000-0000-000000000000",
  "OrgDomain": "contoso.onmicrosoft.com",
  "Thumb": "0000000000000000000000000000000000000000",
  "Thumbprint": "0000000000000000000000000000000000000000",
  "RetentionMaxCSV": 30,
  "RetentionMaxLogs": 30,
  "ErrorMailTo": "admin@example.com",
  "SmtpServer": "",
  "SmtpPort": 25,
  "From": "smartazure@example.com",
  "MailSendAccessPolicyGroup": "smartazure-mailsend-allowed@example.com",
  "TeamsWebhookUrl": "",
  "TeamsAlertsWebhookUrl": "",
  "TeamsInfosWebhookUrl": "",
  "Cc": "",
  "Subject": "SmartAzure",
  "EnableSharePointUpload": true,
  "SharePointSiteHostname": "contoso.sharepoint.com",
  "SharePointSitePath": "/sites/smartazure",
  "SharePointLibraryDisplayName": "Documents",
  "SharePointTargetFolderPath": "SmartAzure/CSV"
}
